@import url(roboto-slab.css);
body {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

/*
  Common class
*/
.text-center{
  text-align: center;
}
/*
  End common class
*/

.chuchoa-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.chuchoa-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
}

.chuchoa-mobile-title {
  display: none !important;
}


.chuchoa-logo-image {
  height: 28px;
  width: 140px;
}


.chuchoa-header {
  overflow: visible;
}

.chuchoa-header .mdl-navigation__link {
  font-weight: 700;
  font-size: 14px;
}

.chuchoa-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.chuchoa-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 800px;
}

.chuchoa-search-box.is-focused + .chuchoa-navigation-container {
  opacity: 0;
  width: 100px;
}


.chuchoa-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  border-bottom: 4px solid transparent;
}

.mdl-navigation__link.chuchoa-navigation__link--more{
  padding-right: 5px;
}

.chuchoa-navigation__link--more .material-icons {
  top: 45%;
}

.chuchoa-search-box {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.chuchoa-more-button {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.chuchoa-drawer {
  border-right: none;
}

.chuchoa-drawer-separator {
  height: 1px;
  margin: 8px 0;
}

.chuchoa-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
}

.chuchoa-drawer .mdl-layout-title {
  position: relative;
  height: 100px;
}

.chuchoa-drawer .chuchoa-logo-image {
  position: absolute;
  bottom: 16px;
}


/*
  Slide
*/
.pt-holder{
  width: 100%;
}

.pt-perspective {
	position: relative;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current {
	visibility: visible;
	z-index: 1;
}

.pt-page-ontop {
	z-index: 999;
}

.pt-caption {
  color: black;
  font-size: 56px;
  line-height: 48px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
}

.pt-page .pt-page__content{
  position: relative;
  width: 100%;
}

/* Next & previous buttons */
.pt-prev, .pt-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.pt-prev {
  left: 0;
}

.pt-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.pt-prev:hover, .pt-next:hover {
  background-color: rgba(0,0,0,0.8);
}

.pt-dots{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pt-dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.pt-dot-current, .pt-dot:hover {
  background-color: #717171;
}

/*
  End Slide
*/

/* section*/
.chuchoa-section {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.chuchoa-section--header{
  margin-top: 30px;
  margin-bottom: 15px;
}
.chuchoa-section--bar {
  width: 120px;
  border-top: solid 1px blue ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.chuchoa-card-post-tags a, .chuchoa-card-post__info a, .chuchoa-card-post__title-text a {
    color: inherit;
    text-decoration: none;
}

/* parallax */
.chuchoa-section__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.chuchoa-background-parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
}

.chuchoa-section__background--bottom-align img {
    bottom: 0;
}

.chuchoa-section__background img {
    position: absolute;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
  
.chuchoa-background-parallax img {
    position: absolute;
    left: 50%;
    display: none;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.chuchoa-section__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}
/* end parallax */

.chuchoa-section__content {
    position: relative;
    z-index: 4;
}

/* end section*/

@media screen and (min-width: 840px){
  .mdl-grid--no-fullwidth {
    width: 1170px;
    max-width: 90%;
  }
}

/**** Medium layout ****/
@media (max-width: 900px) {
  .chuchoa-navigation-container {
    display: none;
  }

  .chuchoa-title {
    display: none !important;
  }

  .chuchoa-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .chuchoa-search-box.is-focused ~ .chuchoa-mobile-title,
  .chuchoa-search-box.is-focused + .chuchoa-navigation-container + .chuchoa-mobile-title {
    opacity: 0;
  }

  .chuchoa-more-button {
    display: none;
  }

  .chuchoa-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .chuchoa-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .chuchoa-section--header{
    margin-top: 20px;
    margin-bottom: 10px;
  }


  .chuchoa-fab {
    display: none;
  }

  .chuchoa-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}

/**** Small layout ****/
@media (max-width: 415px) {
  .chuchoa-section--header{
    margin-top: 15px;
    margin-bottom: 7px;
  }
}
