@import url(roboto-slab.css);
body {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

.chuchoa-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.chuchoa-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
}

.chuchoa-mobile-title {
  display: none !important;
}


.chuchoa-logo-image {
  height: 28px;
  width: 140px;
}


.chuchoa-header {
  overflow: visible;
}

.chuchoa-header .mdl-navigation__link {
  font-weight: 700;
  font-size: 14px;
}

  .chuchoa-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .chuchoa-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .chuchoa-search-box.is-focused + .chuchoa-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .chuchoa-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    border-bottom: 4px solid transparent;
  }

.mdl-navigation__link.chuchoa-navigation__link--more{
  padding-right: 5px;
}

.chuchoa-navigation__link--more .material-icons {
  top: 45%;
}

  .chuchoa-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .chuchoa-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.chuchoa-drawer {
  border-right: none;
}

.chuchoa-drawer-separator {
  height: 1px;
  margin: 8px 0;
}

.chuchoa-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
}

.chuchoa-drawer .mdl-layout-title {
  position: relative;
  height: 100px;
}

.chuchoa-drawer .chuchoa-logo-image {
  position: absolute;
  bottom: 16px;
}


/*
  Slide
*/
.pt-holder{
  width: 100%;
}

.pt-perspective {
	position: relative;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current {
	visibility: visible;
	z-index: 1;
}

.pt-page-ontop {
	z-index: 999;
}

.pt-page .pt-page__content .pt-caption {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.pt-page .pt-page__content{
  position: relative;
  width: 100%;
}
/*
  End Slide
*/

/**** Mobile layout ****/
@media (max-width: 900px) {
  .chuchoa-navigation-container {
    display: none;
  }

  .chuchoa-title {
    display: none !important;
  }

  .chuchoa-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .chuchoa-search-box.is-focused ~ .chuchoa-mobile-title,
  .chuchoa-search-box.is-focused + .chuchoa-navigation-container + .chuchoa-mobile-title {
    opacity: 0;
  }

  .chuchoa-more-button {
    display: none;
  }

  .chuchoa-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .chuchoa-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }




  .chuchoa-fab {
    display: none;
  }

  .chuchoa-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
