@import url(roboto-slab.css);
body {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

.chuchoa-logo-image {
  height: 28px;
  width: 140px;
}