.chuchoa-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid white;
}

.chuchoa-header .mdl-layout__drawer-button {
  background: transparent;
}

.chuchoa-navigation .mdl-navigation__link {
  background-color: transparent !important;
}

.chuchoa-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid greenyellow;
}

.chuchoa-drawer-separator {
  background-color: darkgrey;
}

.chuchoa-drawer .mdl-navigation__link.mdl-navigation__link {
  color: #757575;
}

.chuchoa-drawer .mdl-layout-title{
  background: rgba(210, 210, 210, 0.3);;
}

.chuchoa-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: rgb(33,150,243);
}

/*
    chuchoa-banner-section
*/
.chuchoa-banner-section {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 48.43%;
}

.chuchoa-banner-section .pt-page img {
  width: 100%;
}

/*caption Page*/

.chuchoa-caption--page{
  top: 25%;
  color: white;
}

.chuchoa-caption--page-header{
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: black 2px 3px 15px;
}

.chuchoa-caption--page-bar{
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 35px;
}

.chuchoa-caption--page-content p{
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;
}

.chuchoa-caption--page-button{
  margin-top: 15px;
}

/* end caption Page*/

/* caption 3 */
.chuchoa-caption--page3{
  color: rgb(33,150,243);
}

.chuchoa-caption--page3 .chuchoa-caption--page-header{
  text-shadow: white 5px 8px 35px;
}
/* end caption 3 */

@media (max-width: 900px) {
  /*caption Page*/
  .chuchoa-caption--page{
    top: 15%;
  }

  .chuchoa-caption--page-header{
    font-size: 38px;
  }

  .chuchoa-caption--page-bar{
    margin-bottom: 7px;
    margin-top: 15px;
  }

  .chuchoa-caption--page-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .chuchoa-caption--page-button{
    margin-top: 7px;
  }

  /*end caption Page*/
}
/*
    end chuchoa-banner-section
*/