.chuchoa-navigation--button {
    height: 100%;
}
.chuchoa-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid white;
}

.chuchoa-header .mdl-layout__drawer-button {
  background: transparent;
}

.chuchoa-navigation .mdl-navigation__link {
  background-color: transparent !important;
}

.chuchoa-navigation .mdl-navigation__link:hover, 
.chuchoa-navigation .mdl-navigation__link.active,
.chuchoa-navigation .chuchoa-navigation--button:hover {
  border-bottom: 4px solid greenyellow;
}

.chuchoa-drawer-separator {
  background-color: darkgrey;
}

.chuchoa-drawer .mdl-navigation__link.mdl-navigation__link {
  color: #757575;
}

.chuchoa-drawer .mdl-layout-title{
  background: rgba(210, 210, 210, 0.3);;
}

.chuchoa-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: rgb(33,150,243);
}

/* rewrite */
.chuchoa-color-primary .chuchoa-divider__border {
    background: rgba(255, 255, 255, 1)
}
.chuchoa-color-accent .chuchoa-divider__border {
    background: rgba(255, 255, 255, 1)
}
.chuchoa-color-light .chuchoa-divider__border {
    background: #fff
}

.chuchoa-color-primary {
    color: rgba(255, 255, 255, 1)
}
.chuchoa-color-primary a {
    color: rgba(255, 255, 255, 1)
}
.chuchoa-color-primary .mdl-textfield__input,
.chuchoa-color-primary .mdl-textfield__label {
    color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1)
}
/* end rewrite */

/*
    chuchoa-banner-section
*/
.chuchoa-banner-section {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 48.43%;
}

.chuchoa-banner-section .pt-page img {
  width: 100%;
}

/*caption Page*/

.chuchoa-caption--page{
  top: 25%;
  color: white;
}

.chuchoa-caption--page-header{
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: black 2px 3px 15px;
}

.chuchoa-caption--page-bar{
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 35px;
}

.chuchoa-caption--page-content p{
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;
  text-shadow: black 2px 3px 15px;
}

.chuchoa-caption--page-button{
  margin-top: 15px;
}

/* end caption Page*/

/* caption 3 */
.chuchoa-caption--page3{
  
}

.chuchoa-caption--page3 .chuchoa-caption--page-header{
  
}
/* end caption 3 */

@media (max-width: 900px) {
  /*caption Page*/
  .chuchoa-caption--page{
    top: 15%;
  }

  .chuchoa-caption--page-header{
    font-size: 38px;
    line-height: 42px;
  }

  .chuchoa-caption--page-bar{
    margin-bottom: 7px;
    margin-top: 15px;
  }

  .chuchoa-caption--page-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .chuchoa-caption--page-button{
    margin-top: 0;
  }

  .pt-dots {
    visibility: collapse;
  }

  /*end caption Page*/
}

@media (max-width: 415px) {
  /*caption Page*/
  .chuchoa-caption--page{
    top: 8%;
    max-width: 90%;
    left: 5%;
  }

  .chuchoa-caption--page-header{
    font-size: 24px;
    line-height: 28px;
  }

  .chuchoa-caption--page-bar{
    margin-bottom: 3px;
    margin-top: 7px;
  }

  .chuchoa-caption--page-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .chuchoa-caption--page-button{
    visibility: hidden;
  }

  /*end caption Page*/
}
/*
    end chuchoa-banner-section
*/

/* search section */
.chuchoa-search-section--parallax{
    background-image: url("../images/backgrounds/bg-search.png");
    height: 100%;
    background-attachment: fixed;
    background-position: left -600px center;
    background-repeat: no-repeat;
    background-size: 1500px auto;
    position: static;
    padding-top: 40px;
    padding-bottom: 20px;
}
.chuchoa-search--header{
    margin-top: 20px;
    margin-bottom: 10px;
}
@media (max-width: 839px) {
    #chuchoa-search-section{
        display: none;
    }
}
/* end search section */

/*
  chuchoa-hot-product  
*/
.chuchoa-section__content-item{
  margin-bottom: 40px;
}
.chuchoa-card-order,
.chuchoa-card-product {
    transition: all .3s;
    max-width: 100%;
    overflow: hidden
}
.chuchoa-card-order:hover,
.chuchoa-card-product:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.chuchoa-card-product {
    width: 100%
}
.chuchoa-card-product__image {
    display: block;
    transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, transform .5s;
    z-index: 1;
    max-width: 100%;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.chuchoa-card-product__image:last-child {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.chuchoa-card-product__media:hover .chuchoa-card-product__image:last-child {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
.chuchoa-card-product__media {
    overflow: hidden;
    position: relative
}
.chuchoa-card-product__title {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;
    color: #fff;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .7) 100%)
}
.chuchoa-card-product__title>* {
    -webkit-align-self: flex-start;
    align-self: flex-start
}
.chuchoa-card-product__title.chuchoa-card-product__title--darker {
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .6) 100%)
}
.chuchoa-card-product__title.chuchoa-card-product__title--inverse {
    color: #333;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 100%)
}
.chuchoa-card-product__tags a,
.chuchoa-card-product__title-text a {
    color: inherit;
    text-decoration: none
}
.chuchoa-card-product__title-text {
    height: 28px;
    width: 100%;
    line-height: 28px
}
.chuchoa-card-product__title-text a {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.chuchoa-card-product__badge {
    -webkit-transform: scale(.9);
    transform: scale(.9)
}
.chuchoa-card-product:hover .chuchoa-card-product__badge {
    -webkit-transform: scale(1);
    transform: scale(1)
}
.chuchoa-card-product__tags {
    font-size: 12px;
    line-height: 20px
}
.chuchoa-card-product__installment--animated {
    max-height: 0;
    opacity: 0;
    transition: max-height .3s, opacity .3s ease-out .3s, -webkit-transform .2s ease-out .3s;
    transition: max-height .3s, opacity .3s ease-out .3s, transform .2s ease-out .3s;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
}

.chuchoa-card-product:hover .chuchoa-card-product__installment--animated {
    max-height: 20px;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.chuchoa-card-product-actions {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
}
.chuchoa-product-badge {
    position: absolute;
    width: 56px;
    height: 56px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    background: rgba(68, 138, 255, .8);
    color: rgba(255, 255, 255, 1);
    z-index: 2;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
} 

@media (min-width: 840px) and (max-width: 980px) { 
    .chuchoa-product-badge {        
        width: 42px;
        height: 42px;
        font-size: 16px;
        line-height: 42px;
        top: 12px;
        right: 12px;
    } 

    .chuchoa-card-product__title-text{
        font-size: 18px;
        line-height: 22px
    }

    .chuchoa-card-product__tags, .chuchoa-card-product-installment {
        font-size: 12px;
        line-height: 16px;
    }
}

.chuchoa-card-product__badge-height{
    background-color: red;
}

.chuchoa-product-info--icon{
    top: 2px;
    position: relative;
    font-size: 16px;
    margin-right: 2px;
}

/*
  end chuchoa-hot-product
*/

/* usermail section */
.chuchoa-usermail-section--parallax{
    background-image: url("../images/backgrounds/bg-usermail.png");
    height: 100%;
    background-attachment: fixed;
    background-position: right -500px  center;
    background-repeat: no-repeat;
    background-size: 1500px auto;
    position: static;
    padding-top: 40px;
    padding-bottom: 20px;
}

@media (max-width: 839px) {
    .chuchoa-usermail-section--parallax{
        background-image: none;
        padding:0;
    }

    .chuchoa-usermail-section--parallax .mdl-color--primary-contrast{
        background-color: rgb(33,150,243) !important;
        color: white !important;
    }

    .chuchoa-usermail-section--parallax .mdl-color--primary-contrast .mdl-textfield--floating-label.is-focused, 
    .chuchoa-usermail-section--parallax .mdl-color--primary-contrast .mdl-textfield__label {
        color: white;
    }
    .chuchoa-usermail-section--parallax .mdl-color--primary-contrast .mdl-textfield__input,
    .chuchoa-usermail-section--parallax .mdl-color--primary-contrast .mdl-textfield__input.is-focused{
        border-bottom: 1px solid white;
    }
}
.chuchoa-usermail-section--header{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 415px) {
    .chuchoa-usermail-section--header{
        text-align: center;
        font-size: 28px;
    }
}
/* end usermail section */

/* chuchoa-card-brand */
.chuchoa-card-brand-tags a,
blockquote {
    font-style: italic
}
.chuchoa-card-brand:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.chuchoa-card-brand {
  transition: all .3s;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  min-height: initial
}
.chuchoa-card-brand--row {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start
}
@media (max-width: 479px) {
    .chuchoa-card-brand--row {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center
    }
}
.chuchoa-card-brand__media {
    overflow: hidden;
    position: relative;
    min-height: 84px
}
.chuchoa-card-brand__image {
    transition: -webkit-transform .5s;
    transition: transform .5s;
    z-index: 1;
    max-width: 100%;
    position: relative
}
.chuchoa-card-brand:hover .chuchoa-card-brand__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.chuchoa-card-brand__avatar {
    padding: 16px;
    border-radius: 50%;
    max-width: 100%
}
.chuchoa-card-brand__title {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;
    color: #fff;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .4) 100%)
}
.chuchoa-card-brand__title>* {
    -webkit-align-self: flex-start;
    align-self: flex-start
}
.chuchoa-card-brand__title.chuchoa-card-brand__title--darker {
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .6) 100%)
}
.chuchoa-card-brand__title.chuchoa-card-brand__title--inverse {
    color: #333;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 100%)
}
.chuchoa-card-brand-tags a,
.chuchoa-card-brand__info a,
.chuchoa-card-brand__title-text a {
    color: inherit;
    text-decoration: none
}
.chuchoa-card-brand__title-text {
    height: 28px;
    width: 100%;
    line-height: 28px
}
.chuchoa-card-brand__title-text a {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter
}
.chuchoa-card-brand__info {
    font-size: 12px;
    line-height: 24px;
    display: block
}

.chuchoa-card__supporting-text {
    line-height: 23px;
    width: 100%;
    box-sizing: border-box
}
.chuchoa-card__supporting-text .mdl-card__title {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0 0 16px
}
.chuchoa-card__supporting-text .mdl-card__title-text {
    -webkit-align-self: flex-start;
    align-self: flex-start
}
.chuchoa-card-brand-actions {
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between
}
/* end chuchoa-card-brand */

/* chuchoa-contact-section */
.chuchoa-contact-section--parallax{
    background-image:  url("../images/backgrounds/bg-contact.png");
    height: 100%;
    background-attachment: fixed;
    background-position: right -500px  center;
    background-repeat: no-repeat;
    background-size: 1500px auto;
    position: static;
    padding-top: 40px;
    padding-bottom: 20px;
}

@media (max-width: 839px) {
    .chuchoa-contact-section--parallax{
        background-image: none;
        padding:0;
    }

    .chuchoa-contact-section--parallax .mdl-color--primary-contrast{
        background-color: rgb(33,150,243) !important;
        color: white !important;
    }

    .chuchoa-contact-section--parallax .mdl-color--primary-contrast .mdl-textfield--floating-label.is-focused, 
    .chuchoa-contact-section--parallax .mdl-color--primary-contrast .mdl-textfield__label {
        color: white;
    }
    .chuchoa-contact-section--parallax .mdl-color--primary-contrast .mdl-textfield__input,
    .chuchoa-contact-section--parallax .mdl-color--primary-contrast .mdl-textfield__input.is-focused{
        border-bottom: 1px solid white;
    }
}
.chuchoa-contact-section--header{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 415px) {
    .chuchoa-contact-section--header{
        text-align: center;
        font-size: 28px;
    }
}
/* end chuchoa-contact-section */

/* chuchoa-news-section */
.chuchoa-card-post {
    transition: all .3s;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    min-height: initial;
}
  
.chuchoa-card-post__image {
    transition: -webkit-transform .5s;
    transition: transform .5s;
    z-index: 1;
    max-width: 100%;
    position: relative
}
.chuchoa-card-post:hover .chuchoa-card-post__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.chuchoa-card-post__title {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;
    color: #fff;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .4) 100%)
}
.chuchoa-card-post__title>* {
    -webkit-align-self: flex-start;
    align-self: flex-start
}
.chuchoa-card-post__title.chuchoa-card-post__title--darker {
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .6) 100%)
}
.chuchoa-card-post__title.chuchoa-card-post__title--inverse {
    color: #333;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 100%)
}
.chuchoa-card-post-tags a,
.chuchoa-card-post__info a,
.chuchoa-card-post__title-text a {
    color: inherit;
    text-decoration: none
}
.chuchoa-card-post__title-text {
    height: 28px;
    width: 100%;
    line-height: 28px
}
.chuchoa-card-post__title-text a {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter
}

.chuchoa-card-post__info {
    font-size: 12px;
    line-height: 24px;
    display: block;
}

.chuchoa-card-post__media {
    overflow: hidden;
    position: relative;
    min-height: 84px;
}



@media (max-width: 900px) {
 
}

@media (max-width: 415px) {

}
/* end chuchoa-news-section */

/* chuchoa-shop-search-section*/
.chuchoa-shop-search-section--parallax{
    background-image: url("../images/shop/bg_topsearch.png");
    height: 100%;
    background-attachment: fixed;
    background-position: left -600px center;
    background-repeat: no-repeat;
    background-size: 1500px auto;
    position: static;
    padding-top: 40px;
    padding-bottom: 20px;
}
/* end chuchoa-shop-search-section*/