<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /chuchoa.com/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /chuchoa.com/index.php [L]
</IfModule>